main{
	width: 1302px;
	margin: auto;
	box-shadow: 5px 5px 100px steelblue;
	border-radius: 5px;
}
nav{
	position: relative;
	width: 1300px;
	height: 40px;
	top: 20px;
	background-color: rgb(248, 249, 250);
	border-top: 1px solid blue;
	border-left: 1px solid blue;
	border-right: 1px solid blue;
	border-radius: 5px 5px 0px 0px;
}
nav input{
	position: absolute;
	right: 10px;
	top: 10px;
}
a{
	text-decoration: none;
	text-transform: uppercase;
}
nav p{
	margin-left: 10px;

}
.btton{
	position: absolute;
	display: inline-block;
	right: 0px;
	top: 0px;
}
section{
	width: 1300px;
	position: relative;
	background-color: rgba(49, 194, 245, 0.5);
	border-left: 1px solid blue;
	border-right: 1px solid blue;
}
article > img{
	display: inline-block;
	position: absolute;
	left: 1000px;
	top: 10px;
	width: 200px;
}

#dop{
	height: 500px;
	width: 1298px;
}
hr{
	width: 400px;
	margin-left: 0px;
	height: 3px;
	background-color: rgba(32, 56, 100, 1.0);
	border-radius: 5px 0px 5px 0px;
}
img{
	display: inline-block;
	width: 200px;
	margin: 20px;
}
.img_desc{
	position: absolute;
	display: inline-blocks;
	width: 200px;
	border: 2px solid blue;
	margin: 20px;
}
figcaption{
	position: absolute;
	display: inline-block;
	width: 200px;
	left: ;
	text-align: center;
}
#dect5_desc{
	right: 101px;
	top: 351px;
	width: 200px;
	margin: 0px;
	padding: 0px;
	line-height: 1px;
	border: 2px solid blue;
}
#dect4_desc{
	right: 346px;
	top: 351px;
	width: 200px;
	margin: 0px;
	line-height: 1px;
	border: 2px solid blue;
}
#dect3_desc{
	right: 590px;
	top: 351px;
	width: 200px;
	margin: 0px;
	line-height: 1px;
	border: 2px solid blue;
}
#dect2_desc{
	right: 834px;
	top: 351px;
	width: 200px;
	margin: 0px;
	line-height: 1px;
	border: 2px solid blue;
}
#dect1_desc{
	right: 1078px;
	top: 351px;
	width: 200px;
	border: 2px solid blue;
	margin: 0px;
	line-height: 1px;
}
#dt{
	position: relative;
	width: 1298px;
	height: 500px;
}
#dectvelo5_desc{
	right: 99px;
	top: 274px;
	width: 200px;
	margin: 0px;
	padding: 0px;
	line-height: 1px;
	border: 2px solid blue;

}
#dectvelo4_desc{
	right: 344px;
	top: 274px;
	width: 200px;
	margin: 0px;
	line-height: 1px;
	border: 2px solid blue;
}
#dectvelo3_desc{
	right: 588px;
	top: 274px;
	width: 200px;
	margin: 0px;
	line-height: 1px;
	border: 2px solid blue;
}
#dectvelo2_desc{
	right: 832px;
	top: 274px;
	width: 200px;
	margin: 0px;
	line-height: 1px;
	border: 2px solid blue;
}
#dectvelo1_desc{
	right: 1076px;
	top: 273px;
	width: 200px;
	border: 2px solid blue;
	margin: 0px;
	line-height: 1px;
}
#dm{
	position: relative;
	width: 1298px;
	height: 500px;
}
#dm3_desc{
	right: 344px;
	top: 382px;
	width: 200px;
	margin: 0px;
	line-height: 1px;
	border: 2px solid blue;
}
#dm2_desc{
	right: 588px;
	top: 382px;
	width: 200px;
	margin: 0px;
	line-height: 1px;
	border: 2px solid blue;
}
#dm1_desc{
	right: 832px;
	top: 382px;
	width: 200px;
	margin: 0px;
	line-height: 1px;
	border: 2px solid blue;
}
#dm_desc{
	right: 1076px;
	top: 382px;
	width: 200px;
	border: 2px solid blue;
	margin: 0px;
	line-height: 1px;
}
.cart_button{
	width: 100px;
	height: 30px;
	border-width: 1px;
	border-radius: 3px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	background-color: transparent;
}
.button{
	width: 150px;
	height: 25px;
	border: none;
	border-radius: 3px;
	background-color: rgba(32, 56, 100, 1.0);
	color: white;
	font-weight: bold;
}
h1, h2{
	color: ghostwhite;
}
footer{
	position: relative;
	width: 1300px;
	bottom: 16px;
	margin-bottom: 0px;
	background-color: rgba(49, 194, 245, 0.5);
	border-bottom: 1px solid blue;
	border-left: 1px solid blue;
	border-right: 1px solid blue;
	border-radius: 0px 0px 5px 5px;
}
footer p{
	text-align: center;
	color: grey;
}
