main{
	width: 1302px;
	height: 1685px;
	margin: auto;
	margin-bottom: 50px;
	padding-top: 0px;
	box-shadow: 5px 5px 100px steelblue;
	border-radius: 5px;
}
nav{
	position: relative;
	width: 1300px;
	height: 40px;
	margin-top: 0px;
	top: 0px;
	background-color: rgb(248, 249, 250);
	border-top: 1px solid blue;
	border-left: 1px solid blue;
	border-right: 1px solid blue;
	border-radius: 5px 5px 0px 0px;
}
nav input{
	position: absolute;
	right: 10px;
	top: 10px;
}
a{
	text-decoration: none;
	text-transform: uppercase;
}
nav p{
	margin-left: 10px;

}
.btton{
	position: absolute;
	display: inline-block;
	right: 0px;
	top: 0px;
}
section{
	width: 1300px;
	position: relative;
	bottom: 20px;
	background-color: rgba(49, 194, 245, 0.5);
	border-left: 1px solid blue;
	border-right: 1px solid blue;
}
article > img{
	display: inline-block;
	position: absolute;
	left: 1000px;
	top: 10px;
	width: 200px;
}

#dop{
	height: 500px;
	width: 1298px;
}
hr{
	width: 400px;
	margin-left: 0px;
	height: 3px;
	background-color: rgba(32, 56, 100, 1.0);
	border-radius: 5px 0px 5px 0px;
}
img{
	position: relativ;
	display: inline-block;
	width: 200px;
	margin: auto;
}
figcaption{
	position: relative;
	display: inline-block;
	width: 200px;
	margin: auto;
	left: ;
	text-align: center;
}
}
img:hover figcaption{
	border: 1px solid blue;
}
.img_box1{
	position: relative;
	display: inline-block;
	width: 200px;
	margin: 20px;
}
.img_box1:hover figcaption{
	box-shadow: 5px 5px 20px darkblue;
	border: 1px solid greenyellow;
	borde-left: 1px solid white;
	border-radius: 0px 0px 7px 7px;
}
.img_box1:hover{
	box-shadow: 5px 5px 4px steelblue;
	border-radius: 7px 7px 0px 0px;
	border: none;
}
.act_icon_box{
	display: none;
	position: absolute;
	bottom: 170px;
	left: 30px;
	width: 140px;
	margin: auto;
}
.img_box1:hover .act_icon_box{
	display: inline-block;
}
.img_box1:hover .cart_button{
	background-color: steelblue;
	border: none;
}
.icon{
	width: 40px;
	border: 1px solid grey inset;
}
.icon:hover{
	border-color: steelblue;
	border-style: inset;
}
.icon:active{
	border-color: grey;
	border-style: unset;
}
title{
	background-color: steelblue;
	color: darkblue;
	border-radius: 5px;
}
.button:active{
	color: green;
	box-shadow: 3px 3px 3px white inset;
}
.group{
	position: relative;
	width: 1298px;
	height: 550px;
}
#dm{
	position: relative;
	width: 1298px;
	height: 500px;
}
.cart_button{
	width: 100px;
	height: 30px;
	border-width: 1px;
	border-radius: 3px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	background-color: transparent;
}
.cart_button:active{
	color: green;
	box-shadow: 3px 3px 3px white inset;
}
.button{
	width: 150px;
	height: 25px;
	border: none;
	border-radius: 3px;
	background-color: rgba(32, 56, 100, 1.0);
	color: white;
	font-weight: bold;
}
h1, h2{
	color: ghostwhite;
}
footer{
	position: relative;
	width: 1300px;
	bottom: 36px;
	margin-bottom: px;
	background-color: rgba(49, 194, 245, 0.5);
	border-bottom: 1px solid blue;
	border-left: 1px solid blue;
	border-right: 1px solid blue;
	border-radius: 0px 0px 5px 5px;
}
footer p{
	text-align: center;
	color: grey;
}
