#test{
	text-decoration: underline;
	font-style: italic;
}
.first{
	border: 2px solid green;
	background-color: palegreen;
	width: 600px;
	margin: auto;
	padding: 30px;
}
#blue{
	width: 70px;
	height: 120px;
	background-color: blue;
	display: inline-block;
	margin-left: 200px;

}
#white{
	width: 70px;
	height: 120px;
	background-color: white;
	display: inline-block;
}
#red{
	width: 70px;
	height: 120px;
	background-color: red;
	display: inline-block;
}
ul li{
	font-weight: bold;
	text-transform: uppercase;
}
#second{
	color: blue;
}
p[class="emphasize1"]{
	color: white;
	background-color: pink;
}
div p[class="emphasize2"]{
	background-color: lightblue;
	padding: 20px;
	margin: 20px;
}
#advanced_css{
	position: relative;
	border: 2px solid green;
	background-color: palegreen;
	width: 600px;
	height: 400px;
	margin: auto;
}
#grey{
	position: absolute;
	top: 50px;
	left: 50px;
	border: 6px solid lightgrey;
	border-style: inset;
	background-color: grey;
	width: 500px;
	height: 120px;
	margin: auto;
}
#blue1{
	position: absolute;
	top: 0px;
	left: 0px;
	border: none;
	background-color: blue;
	width: 80px;
	height: 80px;
	margin: auto;

}
#orange{
	position: absolute;
	top: 4px;
	left: 4px;
	border: none;
	background-color: orange;
	width: 80px;
	height: 80px;
	margin: auto;
}